.section {
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  margin:0 auto ;
  @media screen and (min-width: 1200px){
     display: flex;
     /* width: 1200px; */
      max-width: 1400px;
  }
}

.navigation {
padding-bottom: 15px;

@media screen and (min-width: 768px) {
  padding-bottom: 0;
}
  @media screen and (min-width:1200px) {
    display: flex;
    margin: 0 15px 0 auto;
     justify-content: flex-end;
     align-items: center;
  }
}

.navigation a {
  display: grid;
  margin: auto 25px;
  justify-content: center;
}

.navigation a:nth-child(2) {
  margin: 10px auto;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}


.link_text {
 display: block;
  font-size: 22px;
  font-weight: 500;
  color: aliceblue;
 


  @media screen and (min-width: 1200px){
    
  }
 
}

.active .link_text {
  color: rgb(13, 148, 251);
}

.logo {
  display: flex;
  min-width: 230px;
  width: calc(100% / 2);
    margin: 0 auto;
    justify-content: center;
    
    @media screen and (min-width: 768px){
        margin-left: 15px;
        justify-content: flex-start;
        width: fit-content;
    }

     @media screen and (min-width: 1200px){
      margin-left: 15px;
    }
}

.icon_out {
  display: block;
  margin: 15px 5px;
  width: 80px;
  height: 80px;
  fill: aliceblue;
  filter: invert(1);

  animation-name: spin;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.logo_letter {
  position: relative;
  left: -70px;
  font-size: 38px;
  font-weight: 700;
  color: aliceblue;
  margin: auto 10px;
}
.logo_text {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: aliceblue;
  text-align: center;
  margin: auto -40px;
}
