.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
}

.title {

font-size: 20px;

    letter-spacing: .1em;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 0 auto;
    font-weight: 300;
       color: azure;
    
    text-shadow: 
     -1px -1px 1px #efede3, 
     0px 5px 0 #262626, 
     0px 6px 0 #242424, 
     0px 5px 0 #1c1c1c, 
     0px 6px 0 #1a1a1a, 
     0px 6px 0 #181818, 
     0px 5px 0 #121212,
     2px 6px 5px rgba(0, 0, 0, 0.9),
     5px 13px 5px rgba(0, 0, 0, 0.3),
     8px 7px 8px rgba(0, 0, 0, 0.5),
     8px 8px 35px rgba(0, 0, 0, 0.9);
    
    @media screen and (min-width: 1200px) {
        font-size: 32px;
        line-height: 100px;
    font-weight: 500;
    letter-spacing: .15em;
         }
    }

.servise_list {
    justify-content: center;
    padding-bottom: 30px;
    @media screen and (min-width:1200px) {
        display: flex;
 justify-content: space-around;
 padding-bottom: 50px;
    }   

}

.servise_item {
 display: block;
 width: calc(100% - 20px);
 list-style-type: none;
      margin: 15px auto;  
 background-color: rgba(130, 107, 88, 0.2);
   border-radius: 5px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.4),
    1px 4px 6px rgba(0, 0, 0, 0.4);
 
 @media screen and (min-width:1200px) {
         width: calc(100% / 2 - 80px);
    margin: 15px;
        }
   

   
   
   
}

.item_text {
    font-size: 18px;
text-align: center;
 justify-content: center;
color: rgb(147, 166, 176);
padding:  15px;
    @media screen and (min-width: 1200px) {
        font-size: 20px;
          padding:  30px; 
    }
    
   
   
   

   
}
