/* .section {
    background-color: rgb(198, 198, 198);
} */

.container {
    min-width: 1200px;
    max-width: 1400px;
    margin:50px auto;
}

.image {
    position: relative;
    min-width: 1200px;
    max-width: 1400px;
    min-height: 600px;
    max-height: 650px;
    justify-content: center;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)),
    url('../../../public/Kitchen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    overflow: auto;
}

.title {
    display: block;
    width: fit-content;
    font-size: 46px;
    color: aliceblue;
   text-transform: uppercase;
    text-rendering: optimizeLegibility;
   
   margin: 0 auto 0 auto;
   line-height: 200px;
   font-size: 50px;
   text-align: center;
   text-transform: uppercase;
   text-rendering: optimizeLegibility;
   color: azure;
   color: rgb(13, 148, 251, 0.3);
   letter-spacing: .15em;
   text-shadow: 
     -1px -1px 1px #efede3, 
     0px 5px 0 #262626, 
     0px 6px 0 #242424, 
     0px 5px 0 #1c1c1c, 
     0px 6px 0 #1a1a1a, 
     0px 6px 0 #181818, 
     0px 5px 0 #121212,
     2px 6px 5px rgba(0, 0, 0, 0.9),
     5px 13px 5px rgba(0, 0, 0, 0.3),
     8px 7px 8px rgba(0, 0, 0, 0.5),
     8px 8px 35px rgba(0, 0, 0, 0.9);
     /* 2px 6px 5px rgba(3, 29, 105, 0.667),
     5px 13px 5px rgba(13, 42, 96, 0.509),
     8px 7px 8px rgba(8, 22, 62, 0.5),
     8px 8px 35px rgba(5, 32, 91, 0.9); */



  
} 
.text_section {
    margin: 120px auto;
    width: fit-content;
}

.text {
    display: block;
    font-size: 24px;
    font-weight: 700;
    justify-content: center;
    color: rgba(0, 0, 0, 0.75);
    color: aliceblue;
    letter-spacing: .15em;
    color: rgba(165, 212, 248, 0.3);
    text-shadow: 
     -1px -1px 1px #efede3, 
     0px 5px 0 #262626, 
     0px 6px 0 #242424, 
     0px 5px 0 #1c1c1c, 
     0px 6px 0 #1a1a1a, 
     0px 6px 0 #181818, 
     0px 5px 0 #121212,
     2px 6px 5px rgba(0, 0, 0, 0.9),
     5px 13px 5px rgba(0, 0, 0, 0.3),
     8px 7px 8px rgba(0, 0, 0, 0.5),
     8px 8px 35px rgba(0, 0, 0, 0.9);

       
}

.button {
    display: block;
    font-size: 24px;
    width: fit-content;
   font-weight: 500;
    background-color: rgb(13, 148, 251);
    color: aliceblue;
    padding: 15px 35px;
    margin: -150px auto 120px auto;
    /* margin-top: -150px; */
    border-radius: 7px;
    border: none;
    border-width: 0;
    cursor: pointer;

}